* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "sono", sans-serif;
  padding: 40px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-family: "coiny", sans-serif;
  margin-top: 6px;
}

.fact-form {
  background-color: #57534e;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #d6d3d1;
  padding: 16px 24px;
  border-radius: 5px;
  color: #292524;
  margin-bottom: 16px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "coiny", sans-serif;
  padding: 3px 10px 0px 10px;
}

ul {
  list-style: none;
}
